@tailwind base;
@tailwind components;
@tailwind utilities;

$mobile-container-dimension: 400px;
$mobile-main-quadrant-dimensions: 150px; // Top Left, Top Right, Bottom Left, Bottom Right
$mobile-rail-quadrant-dimension: 100px; // Top, Bottom, Left, Right (Width, Height)
$mobile-main-quadrant-child-dimensions: 70px; // Top, Left, Right, Bottom, Child Quadrant w-h

$tablet-container-dimension: 500px;
$tablet-main-quadrant-dimensions: 200px; // Top Left, Top Right, Bottom Left, Bottom Right
$tablet-rail-quadrant-dimension: 150px; // Top, Bottom, Left, Right (Width, Height)
$tablet-main-quadrant-child-dimensions: 35px; // Top, Left, Right, Bottom, Child Quadrant w-h

$laptop-container-dimension: 600px;
$laptop-main-quadrant-dimensions: 220px; // Top Left, Top Right, Bottom Left, Bottom Right
$laptop-rail-quadrant-dimension: 160px; // Top, Bottom, Left, Right (Width, Height)
$laptop-main-quadrant-child-dimensions: 70px; // Top, Left, Right, Bottom, Child Quadrant w-h

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;

	.ludo {
		width: $laptop-container-dimension;
		height: $laptop-container-dimension;
		background: khaki;
		position: relative;

		@mixin laptop-main-quadrant-props {
			position: absolute;
			width: $laptop-main-quadrant-dimensions;
			height: $laptop-main-quadrant-dimensions;
		}

		@mixin players-props(
			$main-quadrant-dimension,
            $repel-range
		) {
			.player {
				position: absolute;
				width: $main-quadrant-dimension;
				height: $main-quadrant-dimension;
				border-radius: 100%;
			}

			.top-left-player, .top-right-player {
				top: $repel-range;
			}

			.bottom-left-player, .bottom-right-player {
				bottom: $repel-range;
			}

			.top-left-player {
				left: $repel-range;
			}

			.top-right-player {
				right: $repel-range;
			}

			.bottom-left-player {
				left: $repel-range;
			}

			.bottom-right-player {
				right: $repel-range;
			}
		}

		.blue, .red, .green, .purple {
			@include laptop-main-quadrant-props;
			@include players-props($laptop-main-quadrant-child-dimensions, 20px);
		}

		.blue, .red {
			top: 0;
		}

		.green, .purple {
			bottom: 0;
		}

		.blue {
			left: 0;
			background-color: dodgerblue;

			.player {
				background: white;
			}
		}

		.red {
			right: 0;
			background-color: firebrick;

			.player {
				background: orange;
			}
		}


		.green {
			left: 0;
			background-color: darkseagreen;

			.player {
				background: orange;
			}
		}

		.purple {
			right: 0;
			background-color: purple;

			.player {
				background: cyan;
			}
		}

		.rail-left {
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 220px;
			left: 0;
			width: $laptop-main-quadrant-dimensions;
			height: $laptop-rail-quadrant-dimension;

			* {
				display: flex;
				flex: 1;
				background-color: white;
				border-bottom: 1px solid black;

				* {
					width: 100%;
					height: 100%;
					background-color: skyblue;
					border-right: 1px solid black ;
				}
			}

			.top-row {
				.box2 {
					background-color: dodgerblue;
				}
			}
			.mid-row {
				flex: 1;
				background: blueviolet ;

				* {
					background-color: dodgerblue;
				}

				.box1 {
					background-color: skyblue;
				}
			}
			.bottom-row {
				flex: 1;
				background-color: antiquewhite;

				.box3 {
					background-color: dodgerblue;
				}
			}
		}

		.rail-top {
			display: flex;
			flex-direction: row;
			position: absolute;
			top: 0;
			left: 220px;
			width: $laptop-rail-quadrant-dimension;
			height: $laptop-main-quadrant-dimensions;

			* {
				display: flex;
				flex-direction: column;
				flex: 1;
				background-color: white;
				border-bottom: 1px solid black;

				* {
					width: 100%;
					height: 100%;
					background-color: skyblue;
					border-right: 1px solid black ;
				}
			}

			.top-row {
				.box3 {
					background-color: firebrick;
				}
			}
			.mid-row {
				flex: 1;
				background: blueviolet ;

				* {
					background-color: firebrick;
				}

				.box1 {
					background-color: skyblue;
				}
			}
			.bottom-row {
				flex: 1;
				background-color: antiquewhite;

				.box2 {
					background-color: firebrick;
				}
			}
		}

		.rail-right {
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 220px;
			right: 0;
			width: $laptop-main-quadrant-dimensions;
			height: $laptop-rail-quadrant-dimension;

			* {
				display: flex;
				flex: 1;
				background-color: white;
				border-bottom: 1px solid black;

				* {
					width: 100%;
					height: 100%;
					background-color: skyblue;
					border-right: 1px solid black ;
				}
			}

			.top-row {
				.box4 {
					background-color: purple;
				}
			}
			.mid-row {
				flex: 1;
				background: blueviolet ;

				* {
					background-color: purple;
				}

				.box6 {
					background-color: skyblue;
				}
			}
			.bottom-row {
				flex: 1;
				background-color: antiquewhite;

				.box5 {
					background-color: purple;
				}
			}

		}
		.rail-bottom {
			display: flex;
			flex-direction: row;
			position: absolute;
			bottom: 0;
			left: 220px;
			width: $laptop-rail-quadrant-dimension;
			height: $laptop-main-quadrant-dimensions;

			* {
				display: flex;
				flex-direction: column;
				flex: 1;
				background-color: white;
				border-bottom: 1px solid black;

				* {
					width: 100%;
					height: 100%;
					background-color: skyblue;
					border-right: 1px solid black ;
				}
			}

			.top-row {
				.box5 {
					background-color: darkseagreen;
				}
			}
			.mid-row {
				flex: 1;
				background: blueviolet ;

				* {
					background-color: darkseagreen;
				}

				.box6 {
					background-color: skyblue;
				}
			}
			.bottom-row {
				flex: 1;
				background-color: antiquewhite;

				.box4 {
					background-color: darkseagreen;
				}
			}

		}

		.winner {
			width: $laptop-rail-quadrant-dimension;
			height: $laptop-rail-quadrant-dimension;
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			left: $laptop-main-quadrant-dimensions;
			top: $laptop-main-quadrant-dimensions;

			.logo-name {
				display: flex;
				position: absolute;
				width: 121%;
				background: yellow;
              	justify-content: space-between;
				align-items: center;
				padding: 0 30px;
				transform: rotate(45deg);
			}

		}
	}
}


